
.logon-container  {
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
}
form {
  margin-top: 5.5rem;
  &>h1 {
    margin-bottom: 2rem;
  }
}

footer {
  margin-top: 5rem;
}

section.form {
  margin-right: 7em;
}

